/* =========================
   RESET
========================= */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Evita espaços indesejados e impede que ultrapassem o contêiner. */
img, picture, videos, canvas, svg {
    display: block;
    max-width: 100%;
}

/* inherit é uma palavra-chave do CSS que faz uma propriedade assumir o mesmo valor do elemento pai.*/
input, button, textarea, select {
    font: inherit;
}

/* None Remove o sublinhado dos links */
a {
    text-decoration: none;
    color: inherit;
}

/* Remove os marcadores ou a numeração das listas */
ul, ol {
    list-style: none;
}

/* =========================
   FINAL DORESET
========================= */


/* =========================
   VARIÁVEIS GLOBAIS (:root)
   Valores reutilizáveis do projeto
========================= */
:root {
    --primary-color: #328900;
    --secondary-color: #5f3bc3;
    --font-family: 'Arial', sans-serif;
    --font-size: 16px;
    --line-height: 1.5;
    --largura-maxima: 1200px;}



/* =========================
   BODY
   Base do site
========================= */

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: var(--line-height);
    min-height: 100vh;
}


/* =========================
   WRAPPER
   Envolve todo o site
========================= */

.wrapper {
    width: 100%;
    max-width: var(--largura-maxima);
    margin: 0 auto;
}


/* =========================
   CONTAINER / LIMITE
   Controla largura do conteúdo
========================= */

.limiting-container {
    width: 100%;
    max-width: var(--largura-maxima);
    margin: 0 auto;
    padding: 0 20px;
    flex-direction: row;

}


/* =========================
   HEADER
========================= */

.header {
    width: 100%;
    min-height: 60px;
    background-color: var(--secondary-color);
}